body {
    background: orange;
}

.container {
    border-radius: 10px;
    background: cornsilk;
    /* padding: 40px 200px 300px 240px; */
    margin: 50px 0px 50px 380px;
    height: 550px;
    width: 580px;
}

.left-border {
    /* border-style: double; */
    background-color: #9dcc78;
    float: left;
    width: 10px;
    height: 200px;
    border-right: solid 2px rgb(163, 33, 33);
}


/* .top-border {
    background-color: #9dcc78;
    float: left;
    width: 170px;
    height: 10px;
    border-bottom: solid 3px rgb(163, 33, 33);
    margin-left: 400px;
} */

.right-border {
    /* border-style: double; */
    background-color: #9dcc78;
    margin-top: 232px;
    float: right;
    width: 10px;
    height: 200px;
    border-left: solid 2px rgb(163, 33, 33);
}

.circle {
    background-color: mediumvioletred;
    border: solid 4px #9dcc78;
    border-radius: 50%;
    margin-top: 390px;
    margin-left: 270px;
    width: 50px;
    height: 50px;
}

.container h1 {
    text-align: center;
    color: rgb(163, 33, 33);
    padding-top: 27px;
}

img {
    height: 330px;
    width: 300px;
    border: double 5px #9dcc78;
}

body h1 {
    text-align: center;
    color: cornsilk;
}

.cards {
    margin: 30px 0px 0px 141px;
}

.card {
    width: 300px;
    height: 330px;
    position: relative;
    perspective: 1300px;
    float: left;
}

.card:hover .front {
    transform: rotateY(-80deg);
}

.card:hover .back {
    transform: rotateY(20deg);
}

.card:hover .face {
    transition: all 0.3s ease-out;
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all 0.5s ease-out;
    transform-origin: 0 0;
}

.front {
    transform: rotateY(0deg);
    z-index: 2;
}

.back {
    background: #9dcc78;
    transform: rotateY(0deg);
    z-index: 1;
}


/* Not related */

* {
    box-sizing: border-box;
}


/* .back {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 5px;
} */

.back h4 {
    font-size: 2.0rem;
    text-align: center;
    margin: 0;
    color: mediumvioletred;
    text-decoration: underline;
}

.back p {
    font-size: 1.5rem;
    padding-left: 75px;
    margin: 0;
}

.back h5 {
    font-size: 1.5rem;
    float: right;
    margin-right: 5px;
    color: mediumvioletred;
}
